{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Announcements</title>

    <link href="{% static '/portfolio/CSS/about.css' %}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/f91dab228a.js"></script>
    <link rel="stylesheet" href="{% static '/css/notice.css' %}" type="text/css" >
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <header>
        <div>
            <h2>Admin Portal</h2>
        </div>

        <p> Welcome Admin </p>

    </header> 


    <div class="nav">
        <div class="tabs">
            <div id="nav-box">
                <a class="current" href="{% url 'admin_portal:home' %}"><div >Class Links</div></a>
                <a href="{% url 'admin_portal:timetable' %}"><div>Timetables</div></a>
                <a href="{% url 'admin_portal:notice' %}"><div>Noticeboard</div></a>
            </div>
        </div>
    </div>

    <div class="main">    

        <div>
            <h3>Make an announcement</h3>
            <form action='' method='post' enctype="multipart/form-data">

                    {% csrf_token %}
                    {{ form.mssg }}<br>
                                    
                                
                    <input type='submit' value='Send'> 

            </form>
            
        </div>
             
    </div>

</body>
</html>
       